/* dependencies */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";

/* local imports */
@import "./styles/variables";
@import "./styles/fonts";
@import "./styles/base";
.noimgcard {
  font-size: xx-large;
  margin-top: 40%;
  color: black;
}

.mb-3 {
  position: fixed;
  top: 0px;
  left: 36.5%;
  z-index: 1;
}

.detail-hidden {
  display: none;
}

.card-img-top {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: rgb(20, 5, 118);
  z-index: 1;
}

.flex-wrap {
  margin-top: 15%;
}
